
<div class="col-md-3">
    <div class="card" style="width: 18rem;">
            <img [src]="car.image ? car.image : 'https://i.pinimg.com/originals/eb/9e/97/eb9e978108d7a30c654654b8210668fa.jpg'" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">{{car.name}}</h5>
            <p class="card-text">{{car.description}}</p>
            <p class="card-text"><strong>{{car.price}}</strong></p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>
